body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.link {
  text-decoration: none;
  color: #434455;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.background {
  background: #2e2f42;
}
.background-team {
  background-color: #f4f4fd;
}
.background-footer {
  background: #2e2f42;
}
.none-dots {
  list-style: none;
}
.menu-style {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16;
  font-weight: 500;
}
.menu-style:hover {
  color: #404bbf;
}
.button-color {
  color: var(--white, #fff);
  background-color: #4d5ae5;
  font-size: 1;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0, 04;
}
.menu-button {
  cursor: pointer;
  color: #e7e9fc;
}
.button-color:hover {
  background-color: #404bbf;
}
.menu-button .button-style {
  cursor: pointer;

  background-color: #e7e9fc;
}
.menu-button .button-style:hover {
  color: #e7e9fc;
  background-color: #4d5ae5;
}

.menu-button .button-style:focus {
  color: #e7e9fc;
  background-color: #4d5ae5;
}

.btm-text-color {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 1;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0, 04;
}

.header-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 3, 5;
  font-weight: 700;
  line-height: 3, 75;
  letter-spacing: 0, 07;
}
.web-color {
  color: var(--iris, #4d5ae5);
  text-decoration: none;
  font-family: Raleway;
  font-size: 18;
}

.studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18;
}
.studio-white {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 1;
  line-height: 1.5;
  letter-spacing: 0.02;
}
.h-text {
  color: var(--navyblue, #2e2f42);
  font-size: 1, 25;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.025;
}
.text {
  color: var(--slate, #434455);
  font-size: 1;
  line-height: 1, 5;
  letter-spacing: 0.02;
}
.chapter-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 2.25;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.045;
  text-transform: capitalize;
}
