body {
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
  color: #434455;
}
.background {
  background: #2e2f42;
}
.none-dots {
  list-style: none;
}
.menu-style {
  color: #2e2f42;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16;
  font-weight: 500;
}
.button-style {
  background-color: #4d5ae5;
}
.button-color {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.menu-button .button {
  cursor: pointer;
  background-color: #e7e9fc;
}
.menu-button .button:hover {
  color: #e7e9fc;
  background-color: #4d5ae5;
}
.btm-text-color {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.header-text {
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.web-color {
  color: var(--iris, #4d5ae5);
  text-decoration: none;
  font-family: Raleway;
  font-size: 18;
}

.studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18;
}
.studio-white {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.h-text {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.chapter-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
